Webpack (imporn/exports)
    Babel
    Scss
    Eslint
    2 режима сборки проекта
    -Dev mode
        Dev server, SourceMaps, Eslint, Not Minified JS & Css

    -Prod mode
        Minified Code

Git
